.art_max_img{
    max-width: 80%;
}
.image-height{
    height: 204px;
}
.img-thumbnail{
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}
span.font-weight-bold{
    color: black !important;
}
// .text-muted .btn-dark{
//     padd
// }